# AWS Cognito Configuration
# Solicita estos valores a tu equipo de backend

# Region de AWS donde está desplegado Cognito
PUBLIC_AWS_REGION=us-east-1

# ID del User Pool de Cognito
PUBLIC_AWS_USER_POOL_ID=us-east-1_XXXXXXXXX

# ID del cliente de la aplicación
PUBLIC_AWS_USER_POOL_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX

# Triggers API URL
PUBLIC_TRIGGERS_API_URL=https://vqu4wcriz3.execute-api.us-east-1.amazonaws.com/qa
