---
import Layout from "@/layouts/layout.astro";
import RecoveryForm from "@/components/recovery-form.vue";
import { getTranslations, getLangFromUrl } from "@/i18n/utilities";

const currentLang = getLangFromUrl(Astro.url);
const t = getTranslations(currentLang);
---

<Layout>
  <div id="recovery-form" class="fixed inset-0 z-40 bg-tpc-bg-default">
    <RecoveryForm client:load t={t.recovery} tPassword={t.passwordStrength} lang={currentLang as "en" | "es"} />
  </div>
</Layout>
