---
import Layout from "@/layouts/layout.astro";
import RecoveryForm from "@/components/recovery-form.vue";
---

<Layout>
  <div id="recovery-form" class="fixed inset-0 z-40 bg-tpc-bg-default safe-area-inset">
    <RecoveryForm client:only="vue" />
  </div>
</Layout>
