<div
  class="h-full flex flex-col justify-between"
  style="
	    	background: linear-gradient(
	    		180deg,
	    		#020109 9.33%,
	    		#1b2545 42.71%,
	    		#2d4e72 70.53%,
	    		#5a7fa0 87.22%,
	    		#a0bac8 100.57%,
	    		#d4dfe6 111.7%,
	    		#f5f2ef 120.6%
	    	);
	    "
>
  <div class="h-full p-8 flex flex-col justify-between max-w-md mx-auto">
    <div class="flex flex-col gap-8">
      <div class="flex justify-center">
        <div
          class="tpc-typography-body-s min-h-20 min-w-20 text-white rounded-full flex justify-center items-center"
          style="
					background: var(
						--Bg-Accent-Weak,
						rgba(255, 255, 255, 0.12)
					);
				"
        >
          JD
        </div>
      </div>

      <div class="text-white text-center space-y-1.5">
        <p class="tpc-typography-title-m">Bienvenido Jon</p>
        <p class="tpc-typography-body-m">
          Tu Palace ID ha sido creado, tu cuenta está lista para empezar a
          disfrutarla.
        </p>
      </div>

      <div
        class="rounded-tpc-container-s p-4 text-white flex flex-col"
        style="
							background: var(
								--Bg-Hover,
								rgba(255, 255, 255, 0.08)
							);
						"
      >
        <div class="py-3 flex gap-2.5">
          <div
            class="w-10 h-10 flex justify-center items-center rounded-full shrink-0"
            style="background: rgba(255, 255, 255, 0.12)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-user-circle"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M3 12a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
              <path d="M9 10a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
              <path
                d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"
              ></path>
            </svg>
          </div>
          <div>
            <p class="tpc-typography-label-s">Tu perfil, en todas partes</p>
            <p class="tpc-typography-body-xs text-tpc-fg-weak">
              Preferencias y favoritos siempre contigo.
            </p>
          </div>
        </div>

        <div class="py-3 flex gap-2.5">
          <div
            class="w-10 h-10 flex justify-center items-center rounded-full shrink-0"
            style="background: rgba(255, 255, 255, 0.12)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-check"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M11.5 21h-5.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v6"
              ></path>
              <path d="M16 3v4"></path>
              <path d="M8 3v4"></path>
              <path d="M4 11h16"></path>
              <path d="M15 19l2 2l4 -4"></path>
            </svg>
          </div>
          <div>
            <p class="tpc-typography-label-s">Tus estancias en un solo lugar</p>
            <p class="tpc-typography-body-xs text-tpc-fg-weak">
              Reservas pasadas, actuales y futuras
            </p>
          </div>
        </div>

        <div class="py-3 flex gap-2.5">
          <div
            class="w-10 h-10 flex justify-center items-center rounded-full shrink-0"
            style="background: rgba(255, 255, 255, 0.12)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-shield-lock"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 3a12 12 0 0 0 8.5 3a12 12 0 0 1 -8.5 15a12 12 0 0 1 -8.5 -15a12 12 0 0 0 8.5 -3"
              ></path>
              <path d="M11 11a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
              <path d="M12 12l0 2.5"></path>
            </svg>
          </div>
          <div>
            <p class="tpc-typography-label-s">Seguro y privado</p>
            <p class="tpc-typography-body-xs text-tpc-fg-weak">
              Tus datos protegidos y sin compartir.
            </p>
          </div>
        </div>
      </div>
    </div>

    <button id="done-btn" class="py-4 px-5.5 bg-white rounded-full"> Hecho </button>
  </div>
</div>

<script>
  document.getElementById('done-btn')?.addEventListener('click', () => {
    window.PalaceApp.emit('navigate', { to: 'faceid' });
  });
</script>
