---
import PalaceResortsLogo from "../assets/svg/palace-resorts.svg";
---

<div class="h-full flex items-center justify-center bg-[#183456]">
  <img
    src={PalaceResortsLogo.src}
    alt="palace resorts logo"
    fetchpriority="high"
  />
</div>
