---
import PalaceResortsLogo from "../assets/images/palace-resorts.png";
---

<div
  class="h-full flex items-center justify-center"
  style="background: linear-gradient(180deg,#020109 9.33%,#1b2545 42.71%,#2d4e72 70.53%,#5a7fa0 87.22%,#a0bac8 100.57%,#d4dfe6 111.7%,#f5f2ef 120.6%);"
>
  <img
    src={PalaceResortsLogo.src}
    alt="palace resorts logo"
    fetchpriority="high"
  />
</div>
